*.zip
commands.yml
banned-ips.json
banned-players.json
cache/mojang_1.18.1.jar
eula.txt
FreeBuild/advancements/*
FreeBuild/playerdata/*
FreeBuild/stats/*
*.yml
libraries/*
ops.json
logs/*
plugins/HeadsPlus/locale/*
plugins/LuckPerms/translations/*
plugins/LuckPerms/libs/*
plugins/WorldEdit/.archive-unpack/*
version_history.json
usercache.json
versions/*
*.json
plugins/CoreProtect/database.db
plugins/HeadsPlus/locale/de_de.yml
